* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 230px;
}

.card {
  display: flex;
  align-items: center;
  margin: 20px;
}

.users {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
